<ul class="nav navbar-nav navbar-right">
<li Dropdown>
<a  href="#" class="dropdown" role="button">{{sellerInfo.sellerNumber}}<span class="caret"></span></a>
  <ul class="dropdown-menu">
    <li>
      <a href="#">
        <div class="sub-label-txt">ORGANIZATION:</div>
         <div class="displaydata">{{sellerInfo.orgName}}</div>
      </a>
    </li>
    <li>
      <a href="#">
        <div class="sub-label-txt">BRANCH:</div>
        <div class="displaydata">{{sellerInfo.branchNumber}}</div>
      </a>
    </li>
    <li>
      <a href="#">
        <div class="sub-label-txt">SELLER/SERVICER:</div>
        <div class="displaydata">{{sellerInfo.sellerNumber}}</div>
      </a>
    </li>
    <li role="separator" class="divider"></li>
    <li>
      <a href="#"><div class="displaydata">Change User Context</div></a>
    </li>
  </ul>
</li>
</ul>